@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
  .font-satoshi {
    font-family: 'Satoshi', sans-serif;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --glass-opacity: 0.15;
}

.main {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/assets/images/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full bg-gradient-to-r from-orange-400 to-purple-700 py-1.5 px-5 text-white transition-all hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search-bar-container {
  width: 100%;
  max-width: 600px; /* Adjust the max-width to your preference */
  margin: 0 auto; /* Center the container horizontally */
}

.search_input {
  /* Add your other styles for the input */
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-gray-400 focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-20 mx-auto max-w-xl gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
  align-items: flex-start; /* Add this line to align items to the top */
}

.form_input {
  @apply w-full flex flex-start items-start justify-start rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}


/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.purple_gradient {
  @apply bg-gradient-to-r from-orange-400 to-purple-700 bg-clip-text text-transparent;
}


@media (max-width: 768px) {
  .head_text br {
    display: block; 
  }
}

.post_box_shadow {
  box-shadow: 0 3px 10px rgb(0,0,0,0.2);
}

.nav-links {
  box-shadow: inset 0 0 0 0 #6b6f71;
  color: #000000;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  text-decoration: none;
  position: relative;
  transition: box-shadow .3s ease-in-out;
}

.nav-links::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px; /* Adjust the thickness of the underline as needed */
  background-image: linear-gradient(to right, orange, purple); /* Gradient colors for the underline */
  bottom: 0;
  left: 0;
  transition: width .3s ease-in-out;
}

.nav-links:hover::after {
  width: 100%;
}

@keyframes rotateColors {
  0% {
    border-image-source: linear-gradient(to right, orange, purple);
  }
  25% {
    border-image-source: linear-gradient(to top, orange, purple);
  }
  50% {
    border-image-source: linear-gradient(to left, orange, purple);
  }
  75% {
    border-image-source: linear-gradient(to bottom, orange, purple);
  }
  100% {
    border-image-source: linear-gradient(to right, orange, purple);
  }
}

.rotating-border {
  border: 2px solid transparent;
  border-image: linear-gradient(to right, orange, purple);
  border-image-slice: 1;
  border-radius: 100%;
  animation: rotateColors 1s linear infinite;
}

.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: #323232;
  border: 2px solid;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}


